.about {
  background-color: #0b140f;
  padding: 140px 20px;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 900px;
  width: 100%;
}


.about h2 {
  color: #ffffff;
  font-size: 2.6rem;
  margin-bottom: 48px;
  text-align: center;
}


.about h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 64px;
  margin-bottom: 20px;
  font-weight: 500;
}


.about p {
  color: #cfd8d3;
  font-size: 1.05rem;
  line-height: 1.9;
  margin-bottom: 28px;
}


.about h2,
.about h3,
.about p {
  text-decoration: none;
}

@media (max-width: 768px) {
  .about {
    padding: 100px 20px;
  }

  .about h2 {
    font-size: 2.1rem;
  }

  .about h3 {
    font-size: 1.4rem;
  }
}
